body {
  font-family: Georgia, 'Times New Roman', Times, serif, Arial, sans-serif; 
  font-size: 1rem;
}

#main {
  display: flex; 
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.side_bar {
    position: sticky;
    top: 2em;
    height: 2rem; 
    z-index: 1000; 
}

.avatar {
  display: table-cell; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  vertical-align: top;
  margin-right: 1rem;
}

#profile_picture {
  max-width: 165px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 0;
  border: 2px solid rgb(213, 229, 249); 
  padding: 5px;
}

.about_me {
  flex-grow: 1; 
  margin-left: 10%;
  margin-right: 10%;
}

#author_name{
  margin-top: 5%;
  margin-bottom: 0;
}

#author_university{
  margin-top: 1%;
  margin-bottom: 0%;
}

#about_title{
  margin-top: 0;
  border-bottom: 2px solid rgb(242, 242, 242); 
  padding-bottom: 1.5%; 
}

@media (max-width: 941px) {
  #main {
    flex-direction: column;
  }

  .side_bar { 
    display: flex;
    position: relative;
    top: auto;
    height: auto; 
    z-index: auto; 
    order: -1; /* This will ensure that the sidebar goes on top */
    margin-bottom: 1rem;
  }

  #profile_picture {
    max-width: 40px; 
    border-radius: 50%;
    padding: 0;
  }

  .about_me {
    margin-left: 0;
    margin-right: 0;
  }

  .avatar {
    display: table-cell; 
    vertical-align: top;
    width:auto;
  }

  #author_name{
    margin-top: 0.8%;
    margin-bottom: 0;
  }

  #author_contact {
    display: none;
  }
  
}
